
.security_graph,
.internet_speed_graph,
.number_of_servers_graph {
    width: 350px;
    height: 30px;
    border: 1px solid;
    position: relative;
    
}
.internet_speed_graph,
.number_of_servers_graph {
    margin-top:0;
    ;
}
.whole{
    grid:flex;
    justify-content: center;
    
}
.without_logo{
    display: flex;
    justify-content: center;
}

.secutiry_fillment,
.intspeed_fillment,
.num_of_servers_fillment
 {
    background-color: red;
    height: 100%;
    width: 0%;
    position: absolute
}

.Express {
    display: block;
}

.separator {
    width: 31px;
    border-right: 1px dotted;
    height: 100%;
    display: inline-block;
    z-index: 2;
    position: relative;
}

.comparison_content {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.content_wrapper{
    padding:10px;
    border:3px solid black;
    
  
}
.list1{
    font-size: 25px;
    margin-left: 90px;
    justify-content: center;
    margin-bottom:45px;
    font-family:'Barlow', sans-serif
}
.list_2{
    justify-content: center;
    font-size: 25px;
    font-family:'Barlow', sans-serif;
    height: fit-content;
    
}

.sait_button{
    background-color: rgb(77, 119, 225);
    border:none;
    height: 31px;
    vertical-align: top;
    border-radius: 3px;
    font-size: 19px;
    padding-bottom: 3px;
    padding-top: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
    justify-content: center;
}
.sait_button:hover{
    opacity:0.9;
}
.sait_button:active{
    opacity:0.8;
}
.security_p{
    color:white;
    font-family:'Barlow', sans-serif ;
    margin-top:5px;
    
}
.int_speed_p{
    margin-top: 20px;
    color:white;
    font-family:'Barlow', sans-serif ;
}
.num_of_ser_p{
    margin-top: 20px;    
    color:white;
    font-family:'Barlow', sans-serif ;
}