
    
body{
    margin: 0;
    background: linear-gradient(to top,mediumpurple,purple);
}

.main_text_expl{
    color:white;
    font-family:'Barlow', sans-serif;
    margin-left:90px;
    margin-top: 10px;
    font-size: 35px;
    margin-bottom:0;
    height: 30px;
    margin-bottom: 30px;
}
.logo_header_compare{
    display: flex;
}
.grid_logo{
    margin-top:70px;
    min-height:75vh;
    width:100%;
    
    
    
    align-items:left;
    justify-content: left;
    margin-right:0;
}
.logo_pic{
    margin-top: 40px;
    margin-left:0;
    
}
.logo{
    height: 850px;
    
}



.main_text{
    font-family:'Barlow', sans-serif;
    color:white;
    margin-left:90px;
    width:650px;
    line-height:30px;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 0;

}

.compare_button_div{
    margin-left:45px;
    display: flex;
    height: fit-content;
    margin-bottom: 20px;
    justify-content: center;
    
}
.compare_button{
    background-color:black;
    font-size: 38px;
    padding-left:14px ;
    padding-right:14px;
    padding-top:5px;
    padding-bottom:5px;
    border:none;  
    border-radius: 5px;  
    color:white;
    cursor: pointer;
    transition: opacity 0.15s;

}
.compare_button:hover{
    opacity: 0.8;
}
.compare_button:active{
    opacity:0.6;
}
body {
    background-color: #322B2B;
}
.devision_whole{
    text-align: center;
    
    
}
.division_intro{
    font-family:'Barlow', sans-serif;
    color:white;
    margin-top: 70px;
    margin-left:45px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    display:block;
}
.vpn_division{
    display: flex;
    justify-content: center;
    
}
.category{
    text-align: center;
    /* margin-left: 370px; */
    margin-top: 30px;
    width:20%;
    align-items: center;
    color:white;
    font-size: 30px;
}
.personal_use{
    font-size: 30px;
    color: white;
   
}
.category{
   text-align: center;
    margin-top: 30px;
    /* margin-right:300px; */
    margin-left:30px;
    width:300px;
    color:white;
    font-size:30px;
    
}
.buisness_use{
    color: white;
}
.personal_use_list{
    color:white;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a{
    font-family:'Barlow', sans-serif;
}







    
    
    



